body {
 background-color:#4d79ff;
  font-family:'Arial';
  padding:2em 6em;
}
h1{
  color:#fff;
  text-align:center;
}
a {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #ffffff;
}

a:hover, a:focus {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #c2d6d6;
  opacity: 1;
}
/*--------Accordion-------*/
.acc-kontainer {
  padding: 20px 0;
  display: block;
  clear: both;
  width: 70%;
  margin: 50px auto;
}
.acc-kontainer .acc-body {
  width: 98%;
  width: calc(100% - 20px);
  margin: 0 auto;
  height: 0;
  color: rgba(0, 0, 0, 0);;
  background-color: rgba(255, 255, 255, 0.2);
  line-height: 28px;
  padding: 0 20px;
  box-sizing: border-box;
  transition: 0.5s;
}

.acc-kontainer label {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: block;
  padding: 15px;
  width: 100%;
  color: #fff;
  font-weight: 400;
  box-sizing: border-box;
  z-index: 100;
}

.acc-kontainer input{
  display: none;
}

.acc-kontainer label:before {
  font-family: 'FontAwesome';
  content: '\f067';
  font-weight: bolder;
  float: right;
}

.acc-kontainer input:checked+label {
  background-color: rgba(255, 255, 255, 0.15);
}

.acc-kontainer input:checked+label:before {
  font-family: 'FontAwesome';
  content: '\f068';
  transition: 0.5s;
}

.acc-kontainer input:checked~.acc-body {
  height: auto;
  color: #fff;
  font-size: 16px;
  padding: 20px;
  transition: 0.5s;
}

/*-----END----*/

.accordion {
  width: 70%;
  float: left;
  margin-left: 10px;
}
.profile {
  padding: 10px;
  width: 22%;
  float: left;
}

.profile img {
  max-width: 100%;
  border: solid 3px #ffffff;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.social {
  width: 100%;
  font-size: 22px;
  text-align: center;
  line-height: 1.5em;
}


@media (min-width: 900px) {
  .acc-kontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
  }

